body {
    font-family: Arial, sans-serif;
    background-color: #00ff87;
    text-align: center;

}

h1 {
    color:#38003d ;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

form {
    margin: 20px auto;
}

#clear{
    background:red;
    color:white;
    border-radius:5px;
    border:None;
}


#er{
color:white;
margin-left:20px;
}
.form1{
   margin-top:10%;
}

.input{
  border-radius:5px;
  border:0.5px #38003d ;
  height:25px;

}

img{
width:200px;}

#text{
  z-index: 99;
  position:relative;
  margin-top:-51px;
  color:#38003d;
  font-weight: bold;
}
#league{
  z-index:99;
  position:relative;
  margin-top:-14px;
}

#update{
  background:#38003d;
  color:white;
  border-radius:40px;
}